h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-style: italic;
    text-decoration: underline;
    background-color: brown;
  }
  .pul{
    font-weight: 600;
    color: aliceblue;
    font-size: 3em;
    line-height: 100px;
    text-align: center;
    background-color: black;
  }
  .lis{
    background-color: blue;
  }

  ul{
    background-color: aquamarine;
    color: aliceblue;
    text-align: center;
  }
  }
  body{
    font-size: 16px;
  }